.profile__join {
    position: relative;
    display: flex;
    justify-self: center;
    border-radius: 50%;
}

@media screen and (max-width:900px) {
    .profile__join {
        margin-bottom: 22px;
    }
}