.element {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    width: 282px;
    height: 361px;
    color: #000000;
    overflow: hidden;
}